<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
<!--	<div class="top-png">-->
<!--			<img src="img/top.png" alt="">-->
<!--		</div>-->
<div class="top-title"><span>登录</span></div>
<div class="main">

    <form class="layui-form" action="#" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">帐号</label>
            <div class="layui-input-block">
                <p class="input-box"><input type="text" name="number" required lay-verify="required" placeholder="请输入登录"
                                            autocomplete="off" class="layui-input"></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <p class="Login-password"><input type="password" name="password" required lay-verify="required"
                                                 placeholder="请输入密码" autocomplete="off" class="layui-input"></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-block">
                <p class="input-box">
                <p class="code-box"><input type="text" name="captcha" required lay-verify="required" placeholder="请输入验证码"
                                           autocomplete="off" class="layui-input"></p>
<!--                <button type="button" class="layui-btn">点击获取</button>-->
                <div>{:captcha_img()}</div>
                </p>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a href="register.html" class="layui-btn">注册</a>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

    });
</script>
</html>
