<style>
    .layui-nav{

    }

</style>

<div class="layui-side layui-bg-cyan">
    <ul class="layui-nav layui-nav-tree" lay-filter="test">


        <li class="layui-nav-item layui-nav-itemed ">
            <a href="#" >个人中心</a>
            <dl class="layui-nav-child">
                <a href="javascript:;">我的发布</a>
                <a href="javascript:;">我的收藏</a>
                <a href="javascript:;">我的浏览</a>
                <a href="javascript:;">我的评价</a>
                <a href="javascript:;">帮助中心</a>
            </dl>
        </li>



        <li class="layui-nav-item layui-nav-itemed ">
            <a href="#" >账户设置</a>
            <dl class="layui-nav-child">
                <a href="javascript:;">个人资料</a>
                <a href="javascript:;">账号绑定</a>
                <a href="javascript:;">密码设置</a>
                <a href="javascript:;">认证设置</a>

            </dl>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
            <a href="#" >推广中心</a>

        </li>
    </ul>




</div>