<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商品展示</title>
		<link rel="stylesheet" href="/static/css/search.css">
		<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>

	</head>
	<body>
<!--		<div class="classify">-->
<!--			<ul>-->
<!--				<li><a href="#">手机</a></li>-->
<!--				<li><a href="#">电脑</a></li>-->
<!--				<li><a href="#">图书</a></li>-->
<!--				<li><a href="#">衣服</a></li>-->
<!--				<li><a href="#">电器</a></li>-->
<!--				<li><a href="#">其他</a></li>-->
<!--			</ul>-->
<!--		</div>-->


		<div class="search layui-row">
			<form method="get" action="{:url('trade/search')}">
				<input type="text" name="search" id="search" value="" placeholder="搜   索" autocomplete="off" style="width: 600px;height:40px;border: solid 2px orangered;"/>
				<input type="submit" id="searchbtn" value="搜         索" class="searchbtn"/>
			</form>
		</div>
		<div class="shelves layui-row">
			{volist name="items" id="item"}

			<a href="detail?id={$item.id}" class="goodsitem">
				<div class="goods">
					<div class="item">
						<div class="user">
							<img src="__UPLOAD__/{$item.user.avatar}" alt="头像" class="touxiang">
							<p style="line-height: 40px;">{$item.user.username}</p>
						</div>
						<img src="__UPLOAD__/{$item.pic1}" alt="商品" class="goodstu">
						<p style="font-size: 20px; color: red;">￥{$item.price}</p>
						<p class="info">{$item.name}</p>
					</div>
				</div>
			</a>
			{/volist}

<!--			<a href="#" class="goodsitem">-->
<!--			<div class="goods">-->
<!--				<div class="item">-->
<!--				<div class="user">-->
<!--					<img src="/static/img/touxiang.jpg" alt="头像" class="touxiang">-->
<!--					<p style="line-height: 40px;">教主</p>-->
<!--				</div>-->
<!--				<img src="/static/img/phone.jpg" alt="商品" class="goodstu">-->
<!--				<p style="font-size: 20px; color: red;">￥50</p>-->
<!--				<p class="info">出二手手机，有点老，但是又不是不能打电话，50面交啦</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			</a>-->

		</div>
<div id="page" class="layui-row"></div>


<script>
	layui.use('laypage', function(){
		var laypage = layui.laypage;

		//执行一个laypage实例
		laypage.render({
			elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
			,count: {$count} //数据总数，从服务端得到
			,curr:{$curr}
			,jump:function (obj,first) {
				console.log(obj.curr)
				// console.log(obj.limit)
				if(!first){
					location.href='search?page='+obj.curr
				}
			}


		});
	});
</script>
	</body>
</html>
